/*-------------------------------GLOBAL---------------------------------------------*/
body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button_01 {
  height: 38px;
  background: red;
  color: white;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
}

/*-------------------------------HEADER---------------------------------------------*/
header {
  background-color: black;
  color: white;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #00FA9A 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand {
  float: left;
}

header #brand h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #00FA9A;
  font-weight: bold;
}

header a:hover {
  color: lightgray;
}
/*-------------------------------INTRO---------------------------------------------*/

#intro-page {
  min-height: 400px;
  background: url("../images/dtla.jpeg") no-repeat 0 -400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
}

#intro-page h1{
  margin-top: 100px;
  font-size: 40px;
  margin-bottom: 10px;
}

#intro-page p {
  font-size: 20px;
}
/*-------------------------------LINKS---------------------------------------------*/
#links {
  padding: 15px;
  color: #00FA9A;
  background: black
}

#links h1 {
  float: left;
}

#links form {
  float: right;
  margin-top: 15px;
}

#links input[type="email"] {
  padding: 3px;
  height: 25px;
  width: 250px;
}
/*-------------------------------BOXES---------------------------------------------*/
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img {
  width: 150px;
  height: 150px;
}
/*-------------------------------FOOTER---------------------------------------------*/
footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
/*-------------------------------GLOBAL---------------------------------------------*/
/*-------------------------------GLOBAL---------------------------------------------*/
